.profile {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: start;
    gap: 30px;
}

@media screen and (max-width: 1279px) {
    .profile {
        margin: 42px auto 0 auto;
        max-width: 282px;
        flex-direction: column;
        align-items: center;
    }
}