.popup__content {
    background-color: #ffff;
    border-radius: 10px;
    padding: 36px;
    position: absolute;
}

@media screen and (max-width: 1279px) {
    .popup__content {
        padding: 25px 22px;
    }
}