.elements {
    max-width: 880px;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    box-sizing: border-box;
    gap: 20px 17px;
}

@media screen and (max-width: 1279px) {
    .elements {
        width: 320px;
        grid-template-columns: repeat(1, auto);
        margin: 39px 19px 0 19px;
    }
}