.popup__close {
    background: url("../../../images/button-close.svg");
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.popup__close:hover {
    opacity: 0.6;
}


@media screen and (max-width: 1279px) {
    .popup__close {
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}