.profile__name {
    color: white;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    max-width: 294px;
    padding: 0;
    margin: 0;
}