.cards__delete {
    width: 18px;
    height: 19px;
    background: url("../../../images/button-delete.svg");
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}