.profile__avatar{
    max-width: 120px;
    min-height: 120px;
    border-radius: 100px;
    flex-shrink: 0;
    flex-grow: 0;
}

@media screen and (max-width: 1279px) {
    .profile__avatar {
        width: 168.75px;
        height: 127.5px;
        margin: auto;
    }
}


