.profile__describe {
    color: white;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    max-width: 336px;
    margin: 0;

}